.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); /* 살짝 그림자 */
}

.icon {
  position: absolute;
  left: 16px;
  top: 30px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.title {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}
