.chat-body {
    margin-top: 20px;
    padding: 0px 20px 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    height: calc(100vh );
  }
  
  .chat-input-container {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .chat-input-box {
    width: 90%;
    height: 44px;
    background-color: #1a1a1a11;
    filter: blur(0.5px);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    transition: all 0.3s ease;
  }
  
  .chat-input-box.focused {
    width: 90%;
    filter: none;
  }
  
  .chat-input {
    background: none;
    border: none;
    outline: none;
    color: #b3b3b3;
    flex: 1;
  }
  
  .chat-input-box.focused .chat-input {
    color: black;
  }
  
  .send-button {
    width: 32px;
    height: 32px;
    background: #999999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .send-button.active {
    background: linear-gradient(90deg, #ff775e 10%, #ff4d61 60%, #e83abc 100%);
  }
  
  .send-icon {
    width: 20px;
    height: 20px;
  }
  .chat-header {
  display: flex;
  align-items: flex-start; /* 위쪽 정렬 */
  justify-content: space-between;
  
  align-items: center; /* ✅ 아이콘 세로 가운데 정렬 */
  padding: 12px 16px;
}

.header-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.room-name {
  font-size: 12px;
  font-weight: 600;
  color: #1A1A1A;
}

.participant-info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.person-icon {
  width: 14px;
  height: 14px;
}

.participant-count {
  font-size: 12px;
  font-weight: 500;
  color: #4D4D4D;
}

